/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --img-bg: var(--light-img);

  --border-color: var(--transparent-black);
  --big-color: var(--pink-sakura);
  --text-color: var(--dark-gray);
  --title-color: var(--dark-gray);
  --subtitle-color: var(--dark-gray);
  --text-bg-color: var(--tea-rose);
  --second-color: var(--black);
  --menu-color: var(--black);
  --bg: var(--light-pink);
  --text-shadow: var(--tea-rose);

    .decorative-text {
    display: none;
  }
}
