@media (width >= 768px) {
  .header {
    height: max(100vh, 1024px);
    grid-template-rows: 27.5% 28% 1fr;
    align-items: end;
  }

  .decorated-zone {
    padding: 20px;
    margin-bottom: 60px;
  }

  .decorative-text {
    top: 20px;
    right: 20px;
  }

  .corner__top {
    right: 20px;
    top: 20px;
  }

  .header__theme-menu {
    align-self: end;
  }

  .big-text {
    margin-left: -20px;
    font-size: 120px;
  }

  .header__item {
    justify-self: end;
    width: 50%;
    margin: 0;
  }

  .corner__bottom {
    left: 20px;
    bottom: 20px;
  }

  .section {
    display: grid;
    gap: 19.3px;
    padding: 0 20px;
  }

  .section:not(:first-child) {
    margin-top: 80px;
  }

  .section__why {
    row-gap: 0;
    grid-template-columns: 1fr 2fr;
  }

  .card-list .title {
    grid-row: 1 / 3;
  }

  .title {
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .card-list {
    column-gap: 0;
    margin: 0;
  }

  .title__what {
    width: 30%;
  }

  .section__how {
    grid-template-columns: 1fr 2fr;
  }

  .card-list_advice {
    grid-column: 2 / 3;
  }

  .section__img {
    height: 107vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content repeat(3, 1fr);
  }

  .img__subtitle {
    grid-column: 1 / 4;
    margin: 0;
  }

  .img__picture {
    margin: 0;
    height: 100%;
    object-fit: cover;
  }

  .img__picture:nth-child(2) {
    grid-column: 1 / 3;
  }

  .img__picture:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .img__picture:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .img__picture:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .img__picture:nth-child(6) {
    grid-column: 2 / 4;
  }

  .footer {
    height: max(100vh, 1024px);
    margin-top: 63px;
    margin-left: 25px;
  }

  .corner__bottom_footer {
    left: -4px;
    bottom: 23px;
  }
}

@media (width >= 1024px) {
  .header {
    height: max(100vh, 768px);
    grid-template-rows: 31% 28% 1fr;
  }

  .header__theme-menu {
    width: 230px;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    justify-content: space-between;
  }

  .header__theme-menu-item {
    margin: 0;
  }

  .big-text {
    font-size: 9.81rem;
  }

  .subtitle_header {
    margin: 111px 0 116px 50%;
  }

  .section__why {
    grid-template-columns: 32% 2fr;
  }

  .card-list_what {
    grid-template-columns: repeat(3, 1fr);
    gap: 19.3px;
  }

  .card-list_what .title {
    grid-column: 1 / 4;
    grid-row: auto;
    max-width: 314px;
  }

  .section__how {
    grid-template-columns: 32% 2fr;
  }

  .section__img {
    height: 106vw;
  }

  .footer {
    margin-top: 66px;
    height: max(100vh, 768px);
  }
}
