/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg);
}

.header {
  position: relative;
  background: url(../images/cover-image-dark.png)  center center / cover no-repeat;
}

.decorated-zone {
  padding: 10px;
  margin-bottom: 28px;
}

.decorative-text {
  text-transform: uppercase;
  font-weight: var(--text-weight);
  color: var(--second-color);
  text-align: end;
  font-size: 18px;
}

.decorative-text::after {
  margin: 6px 9px 2px 10px; 
  content: '';
  display:inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--second-color);
  border-radius: 100%;
  box-shadow: 0 0 5px 2px var(--second-color);
}

.corner {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--second-color);
}

.corner__top {
  border-bottom: 0;
  border-left: 0;
  right: 10px;
  top: 10px;
}

.header__theme-menu {
  position: absolute;
  top: 16.5vw;
  right: 10px;
}

.header__theme-menu-item {
  margin-top: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 27px;
  background: transparent;
  border: none;
  color: var(--menu-color);
  font-weight: var(--text-color);
  font-size: 18px;
  line-height: 18px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  cursor: pointer;
}

.header__theme-menu-button_active:hover {
  border-color: rgba(255, 0, 112, 0.4);
}

.big-text {
  margin-top: 57%;
  font-weight: var(--big-text);
  font-size: 116px;
  color: var(--big-color);
  text-shadow: 4px 4px var(--text-shadow);
  line-height: 84%;
}

.subtitle {
  background-color: var(--text-bg-color);
  color: var(--subtitle-color);
  font-weight: var(--title-weight);
  font-size: 18px;
  line-height: 24px;
}

.subtitle_header {
  margin: 54px 0 65px 0;
}

.corner__bottom {
  left: 10px;
  bottom: 22px;
  border-top: 0;
  border-right: 0;
}

/* начало секций  */

section {
  padding: 0 10px;
}

section:not(:first-child) {
  margin-top: 50px;
}

.card-list {
  display: grid;
  gap: 19.3px;
}

.title {
  font-weight: var(--title-weight);
  color: var(--title-color);
  font-size: 18px;
  line-height: 23.4px;
}

.text {
  margin-top: 10px;
  font-weight: var(--text-weight);
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px var(--text-shadow);
}

.link:hover {
  border: 1px solid var(--text-color);
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.subtitle_font-weight {
  font-weight: var(--text-weight);
}

/* картинки */

.img__subtitle {
  margin: 50px 0 5px 0;
}

.img__picture {
  margin-top: 0.35rem;
  width: 100%;
}

/* подвал  */

.footer {
  margin-top: 36px;
  position: relative;
  height: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-text_margin {
  margin: 0;
}

.corner__bottom_footer {
  bottom: 11px;
}
