/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg);
  background-attachment: fixed;
}

.header {
  position: relative;
  background: var(--img-bg) center center / cover no-repeat;
  height: max(668px, 100vh);
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
}

.decorated-zone {
  padding: 10px;
  margin-bottom: 6vh;
}

.decorative-text {
  position: absolute;
  text-transform: uppercase;
  font-weight: var(--text-weight);
  color: var(--second-color);
  font-size: 18px;
  top: 10px;
  right: 10px;
}

.decorative-text::after {
  margin: 6px 9px 2px 10px;
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--second-color);
  border-radius: 100%;
  box-shadow: 0 0 5px 2px var(--second-color);
}

.corner {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--second-color);
}

.corner__top {
  border-bottom: 0;
  border-left: 0;
  right: 10px;
  top: 10px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-item {
  margin-top: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 27px;
  background: transparent;
  color: var(--menu-color);
  font-weight: var(--text-weight);
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  border: 1px solid transparent;
  border-top: 0;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border: 1px solid var(--menu-color);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
}

.big-text {
  font-weight: var(--big-text);
  font-size: 116px;
  color: var(--big-color);
  text-shadow: 4px 4px var(--text-shadow);
  line-height: 84%;
}

.header__item {
  background-color: var(--text-bg-color);
  align-self: center;
  margin-bottom: 12px;
}

.subtitle {
  background-color: var(--text-bg-color);
  color: var(--subtitle-color);
  font-weight: var(--title-weight);
  font-size: 18px;
  line-height: 24px;
}

.corner__bottom {
  left: 10px;
  bottom: 10px;
  border-top: 0;
  border-right: 0;
}

/* начало секций  */

section {
  padding: 0 10px;
}

section:not(:first-child) {
  margin-top: 50px;
}

.title {
  font-weight: var(--title-weight);
  color: var(--title-color);
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 19.3px;
}

.card-list {
  margin-top: 19.3px;
  display: grid;
  gap: 19.3px;
}

.text {
  margin-top: 10px;
  font-weight: var(--text-weight);
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px var(--text-shadow);
}

.link:focus {
  border-bottom: 1px solid var(--text-color);
}

.link:hover {
  border: 1px solid var(--text-color);
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.subtitle_font-weight {
  font-weight: var(--text-weight);
}

/* картинки */

.img__subtitle {
  margin: 50px 0 5px 0;
}

.img__picture {
  margin-top: 0.35rem;
  width: 100%;
}

/* подвал  */

.footer {
  margin-top: 36px;
  position: relative;
  height: min(100vh, 668px);
  display: flex;
  align-items: center;
  justify-content: center;
}
