/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  --red: #FF0070;
  --pink: #F1B2CE;
  --black: #000028;
  --purple: #DB00FF;

  --big-text: 700;
  --title-weight: 700;
  --text-weight: 400;
  --big-color: var(--purple);
  --text-color: var(--pink);
  --title-color: var(--red);
  --subtitle-color: var(--black);
  --text-bg-color: var(--red);
  --second-color: var(--red);
  --menu-color: var(--red);
  --bg: var(--black);
  --text-shadow: var(--red);
}